@page
@model SeznamKnjig.Pages.Books.ListModel
@{
    ViewData["Title"] = "List";
}

<div style="padding-bottom:10rem; padding-top:5rem">
    <h2 style="float:left; margin-top:0px">Knjižnica</h2>
    <a asp-page="./Edit" class="btn btn-primary" style="float:right">Vnesi novo knjigo</a>
</div>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>

    </div>
</form>

<table class="table">
    <tr>
        <th>ISBN</th>
        <th>Naslov</th>
        <th>Opis</th>
        <th>Oznaka</th>
        <th>Založba</th>
        <th>Leto Izdaje</th>
    </tr>

    @foreach (var book in Model.Books)
    {
        <tr>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail"
                   asp-route-bookId="@book.Id">
                    @book.ISBN
                </a>
            </td>
            <td>@book.Naslov</td>
            <td>@book.Opis</td>
            <td>@book.Oznaka</td>
            <td>@book.Izdajatelj</td>
            <td>@book.LetoIzdaje</td>
            <td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Edit"
                   asp-route-bookId="@book.Id">
                    Uredi<i class="glyphicon glyphicon-edit" style="padding-left:2rem"></i>
                </a>
                <a class="btn btn-lg"
                   asp-page="./Delete"
                   asp-route-bookId="@book.Id">
                    Izbriši<i class="glyphicon glyphicon-trash" style="padding-left:2rem"></i>
                </a>
            </td>
        </tr>
    }
</table>

